* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    color: #ffffff;
  }

.header {
    
    
    width: 100%;
    height: 200px;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.header-container {
    background-color: #353847;
    width: 100%;
    
}
.header-logo {
    display: flex;
    width: 100%;
    flex-direction: column;    
    align-items: center;
    padding-top: 20px;
}
.header-photo {
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header-title {
        
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffffff;
    }
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;        
  }
 
  .nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    background: #f2c100;
  }