* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

  body {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;   
    color: #ffffff;
    background-color: #353847;
    
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }


.header-logo {
    display: flex;
    width: 100%;
    flex-direction: column;    
    align-items: center;
    padding-top: 20px;
}
.header-photo {
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.section-title {
        
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffffff;
        line-height: 0;
    }

.header-hr {
    border: none;
    width: 10%;
    border-top: 2px solid #f2c100;
        
        
    }
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;        
  }
 
  .nav-link:hover {
    color: #ffffff;
    text-decoration: none;
    background: #f2c100;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;    
  }
  
  .section {
    width: 50%;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

  .section-hr {
    border: none;
    width: 85%;  
    margin-left: 0;
    border-top: 2px solid #f2c100;
    
}
  .link { 
    text-decoration: underline;
    color: #ffffff;
    transition: .3s;    
  }
  .link:hover {
    color: #ffffff;
    text-decoration: none;
    background: #f2c100;
  }
  .footer {
    padding-bottom: 20px;
  }
 .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 100px;
  color: #fff;
 }
 .footer-hr {
  border: none;
  width: 85%;  
  text-align: center;
  border-top: 2px solid #f2c100;
 }
.rs-school {
  width: 100px;
  
}